@charset "utf-8";

/* base */

body {
  color: #888888;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7;
  letter-spacing: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/* block */

header {
  padding: 30px 0;
}

header img {
  margin-left: auto;
  margin-right: auto;
}

.morenews__inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* morenews */

.morenews__inner {
  padding: 60px 0;
}

.unit__catch {
  color: #fa6980;
  font-style: oblique;
}

.unit__title {
  color: #202124;
  padding: 0 10px;
  border-left: #fa6980 10px solid;
  margin-bottom: 30px;
}

.unit__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.unit__parts {
  width: 48%;
  margin-bottom: 60px;
}

.time {
  display: flex;
  align-items: center;
}

.time__image {
  margin-right: 10px;
}

.time__text {
  color: #cbd0d3;
}

/* trending */

.trending {
  background-color: #f6f6f6;
}

.trending__inner {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
  max-width: 800px;
}

.unit__parts.trending {
  background-color: #fff;
}

.unit__textarea {
  padding: 35px;
}

.unit__textarea .parts__title {
  color: #202124;
}

.unit__btn {
  margin: 25px 0 0 auto;
  width: fit-content;
  text-align: right;
  padding: 14px 43px;
  background-color: #fa6980;
}

.btn__link {
  color: #fff;
}

footer {
  background-color: #202124;
  padding: 100px 0 40px;
}

.footer__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
